:root {
  --font-size: 14px;
  --font-size-14: 14px;
  --background-color-white: #fff;
  --height-33: 33px;
  --border-gay: 1px solid #e3e8ed;
}

.gray-bg-timer {
  .el-picker-panel,.el-picker-panel__footer {
    background: #e6e3e3;
  }

}