// @use "./dark.scss";
$--colors: (
  "primary": ("base": #0055ff,
    // "base": green,
  )
);

$--border-radius: (
  "small": 8px,
  "base": 8px,
  "round": 20px
);

$--box-shadow: (
  '': 2px 2px 6px rgba(0, 0, 0, .05),
  'light': 2px 2px 6px rgba(0, 0, 0, .05),
);

$--text-color: (
  'primary': #333,
);


$--bg-color: (
  'page': #f2f8fd,
  'member': #fdf3da,
  'report': #e5f8fc,
  'device': #e4e9ef,
  'table-striped': #F2F6FC,
);

@forward 'element-plus/theme-chalk/src/common/var.scss' with ($colors: $--colors,
  $border-radius: $--border-radius,
  $box-shadow: $--box-shadow,
  $text-color: $--text-color,
  $bg-color: $--bg-color,
);