@font-face {
  font-family: "iconfont"; /* Project id 2539481 */
  src: url('iconfont.woff2?t=1731566163085') format('woff2'),
       url('iconfont.woff?t=1731566163085') format('woff'),
       url('iconfont.ttf?t=1731566163085') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chongdianzhong:before {
  content: "\e7ac";
}

.icon-chongfangdian-fang:before {
  content: "\e6ac";
}

.icon-shangchuan:before {
  content: "\e71a";
}

.icon-duankailianjie:before {
  content: "\e65d";
}

.icon-duankailianjie1:before {
  content: "\e811";
}

.icon-zuixiaozhi:before {
  content: "\ec69";
}

.icon-zuidazhi:before {
  content: "\ec68";
}

